writing-writing {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr auto auto 0.75fr;

  & > ::highlight(speech) {
    background-color: yellow;
  }

  & > .text-input {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    gap: 1em;
  }
}

read-along {
  & > span.active {
    text-decoration: underline overline var(--accent);
    -webkit-text-decoration: underline overline var(--accent);
  }
}
